body{
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: url("https://images.unsplash.com/photo-1469474968028-56623f02e42e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1174&q=80");
    background-size: cover;
    overflow: hidden;
}


h2{
    text-transform: uppercase;
    letter-spacing: 0.25vw;
    font-size: 1vw;
    text-align: center;
    color: white;
}
.Clock{
    display: flex;
}
.Clock div{
    margin: 0.3vw;
    position: relative;
}
.Clock span{
width: 6.5vw;
height: 5.5vw;
background: slateblue;
opacity: .8;
color: white;
display: flex;
justify-content: center;
align-items: center;
font-size: 3.1vw;
text-shadow: 2px 2px 4px rgba(0,0,0,0.3);


}
.Clock .text{
height: 1.75vw;
font-size: 0.65vw;
text-transform: uppercase;
letter-spacing: 0.1vw;
background: darkblue;
opacity: 0.8;
}

.Clock #ampm{
    bottom: 0;
    position: absolute;
    width: 4vw;
    height: 2vw;
    font-size: 1.2vw;
    background: green;
}

@media all and (max-width: 576px) {
    body{
        background-image: url("https://images.unsplash.com/photo-1685793579305-635173bb473b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80");
    }   
}